.profile__edit-btn {
    position: absolute;
    background: transparent;
    width: 18px;
    height: 18px;
    border: none;
    background-image: url(../../../image/edit-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    right: -28px;
    top: 4px;

}

.profile__edit-btn:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1024px) {
    .profile__edit-btn {
        width: 24px;
        height: 24px;
        margin-bottom: 16px;
        right: -43px;
        top: 13px;

    }
}