.button_type_primary {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 16px;
}

.button_type_primary:disabled {
  border-color: rgba(0, 0, 0, 0.2);
   color: rgba(0, 0, 0, 0.2);
   background-color: transparent;
}


@media screen and (min-width: 1024px) {
  .button_type_primary {
    font-size: 18px;
    line-height: 21px;
  }
}

