.card__like {
    position: relative;
    background: transparent;
    width: 23px;
    height: 20px;
    border: none;
    background-image: url(../../../image/like.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    padding-right: 10px;
    margin-bottom: 2px;
    
}

.card__like:hover{
  opacity: 0.6;
}
