.popup__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 64px;
}

@media screen and (min-width: 1024px) {
    .popup__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 75px;
        margin-bottom: 37px;

    }
}